################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APILevelRateLimiter/.vs/APILevelRateLimiter
/APILevelRateLimiter/APILevelRateLimiter/bin/Debug/net8.0
/APILevelRateLimiter/APILevelRateLimiter/obj
/APILevelRateLimiter/APILevelRateLimiter/APILevelRateLimiter.csproj.user
